.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.site-branding {
	.custom-logo-link {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
## Puzzles
--------------------------------------------------------------*/
@import "puzzles";

div.mejs {
	&-container {
		background: $brown !important;
		.mejs-controls {
			background: $brown !important;
		}
	}
}

#front-page-carousel {
	@include bp( 992 ) {
		/* .carousel-item {
		} */
		.carousel {
			.carousel-inner {
				height: 400px;
				.carousel-item {
					display: block;
					position: absolute;
					height: 400px;
					overflow: hidden;
					opacity: 0;
					transition: opacity 2s ease-in-out;
					&.active {
						transition: opacity 2s ease-in-out;
						opacity: 1;
					}
				}
			}
		}
	}
}